<html>
  <head>
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:site" content="@bilyakudan" />
    <meta name="twitter:title" content="sasuga oniisama" />
    <meta name="twitter:description" content="sasuga oniisama" />
    <meta name="twitter:image" content="<%= @url %>" />
    <meta name="twitter:url" content="http://oniisama.herokuapp.com/images/<%= @id %>" />
  </head>
  <body>
    <img src=<%= @url %>></img>
  </body>
</html>
