<html>
  <body>
    <div id="preview-note">
      <h1>お兄様API</h1>
      <h2>使い方</h2>
      <h3>ランダム取得</h3>
      <pre><code><span class="variable">$ </span>curl <span class="symbol">http:</span>/<span class="regexp">/oniisama.herokuapp.com/api</span>
<span class="comment">#=&gt; {"url":"http://mahouka.jp/img/special/message/mahouka_msg01.jpg","id":1}</span>
</code></pre>
      <img src="http://mahouka.jp/img/special/message/mahouka_msg01.jpg">
      <div>
        画像元<a href="http://mahouka.jp/special/#s07">http://mahouka.jp/special/#s07</a>
      </div>

      <h3 id="id">id指定取得</h3>
      <pre><code class="vala">$ curl http:<span class="comment">//oniisama.herokuapp.com/api/2</span>
<span class="preprocessor">#=&gt; {"url":"http://mahouka.jp/img/special/message/mahouka_msg02.jpg","id":2}</span>
</code></pre>
      <img src="http://mahouka.jp/img/special/message/mahouka_msg02.jpg">
      <div>
        画像元<a href="http://mahouka.jp/special/#s07">http://mahouka.jp/special/#s07</a>
      </div>

      </div>

  </body>
</html>
